<%- include header -%>
<form class="form-horizontal" style='width:50%;margin:0 auto;'>
    <div class="form-group">
        <label class="control-label col-sm-2" for="username">用户名</label>
        <div class='col-sm-10'>
            <input type="text" class="form-control" id="username" name="uname">
    </div>
    </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">密码</label>
        <div class='col-sm-10'>
            <input type="password" class="form-control" id="password" name="upwd">
        </div>
    </div>  
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="password-repeat">确认密码</label>
        <div class='col-sm-10'>
            <input type="password" class="form-control" id="password-repeat" name="password-repeat">
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 ">
        <button type="button" class="btn btn-primary register">注册</button>
      </div>
    </div>
</form>
    <%- include footer -%>
    <script>
    $(function()
    {
        $('.register').on('click',()=>
        {
            $.post({
                url:'http://localhost:3030/reg',
                    data:{username:$('#username').val(),
                    password:$('#password').val()},
                    success:function(res,code){
                        if(res.success)
                        {
                            location.href='http://localhost:3030/login';
                            alert('注册成功');
                        }
                    }
            });
        });
    });
  </script>
 </body>
</html>